* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to right, rgb(173, 134, 212), rgb(111, 19, 202));
}

.main-content {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  background-color: rgb(235, 221, 253);
  padding: 2rem;
  min-width: 75%;
  max-height: 65%;
}
