.auth-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.auth-header {
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 2rem;
}

.auth-form-items {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.auth-input {
  margin-bottom: 1rem;
  padding: 5px;
}

.password-container {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 5px;
  top: 30%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #000000;
  cursor: pointer;
}

.toggle-password:hover {
  text-decoration: underline;
}

.password-requirements {
  font-size: 0.6rem;
  max-width: 250px;
  color: #000000;
  line-height: 1.4;
}

.auth-btns {
  display: flex;
  gap: 1rem;
  margin-top: 0.7rem;
}

.login-btn,
.register-btn {
  padding: 10px 20px;
  background-color: rgb(29, 133, 64);
  color: white;
  border: none;
  cursor: pointer;
}

.login-btn:hover,
.register-btn:hover {
  background-color: rgb(20, 101, 47);
}

.signup-btn,
.back-to-login-btn {
  padding: 10px 20px;
  background-color: rgb(44, 70, 186);
  color: white;
  border: none;
  cursor: pointer;
}

.signup-btn:hover,
.back-to-login-btn:hover {
  background-color: rgb(27, 48, 140);
}

.error {
  font-size: large;
  font-weight: bold;
  color: rgb(200, 23, 23);
  margin-top: 1rem;
  transition: opacity 0.2s ease;
}

.error.hidden {
  opacity: 0;
  visibility: hidden;
}

.error.visible {
  opacity: 1;
  visibility: visible;
}

.confirmation-message-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.confirmation-message {
  max-width: 400px;
  margin-top: 1rem;
  line-height: 1.4;
}
