@import url("https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap");

header {
  width: 100%;
  background-color: rgb(111, 19, 202);
  border-bottom: 1px solid rgb(57, 9, 111);
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

.logo {
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
}

.nav-bar {
  height: 100%;
}

.nav-list {
  list-style-type: none;
  display: flex;
}

.nav-item {
  padding: 0.75em;
  cursor: pointer;
  background-color: rgb(158, 119, 221);
  color: black;
  font-size: larger;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-item:hover {
  background-color: rgb(135, 94, 201);
  color: black;
}

.nav-item.active {
  background-color: rgb(102, 62, 166);
  color: black;
}

.settings-icon {
  font-size: 2rem;
  cursor: pointer;
  margin: 10px;
  color: #000000;
}

.settings-icon:hover {
  color: #2c2c2c;
}

.settings-icon:active {
  color: #646464;
}
