.setting-btns-items {
  margin-top: 3rem;
}

.language-select {
  width: 75%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
  cursor: pointer;
}

.change-btns {
  width: 75%;
  background-color: #fff;
  color: #000000;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.change-btns:hover {
  background-color: #d0c6c6;
}

.delete-btn {
  width: 75%;
  background-color: #862c2c;
  color: #000000;
  border: 1px solid #913333;
  border-radius: 8px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.delete-btn:hover {
  background-color: #622020;
}

.signout-wrapper {
  margin-top: auto;
  padding-top: 1.5rem;
}

.sign-out-btn {
  background: none;
  border: none;
  color: #000000;
  font-size: 1rem;
  font-weight: bold;
  padding: 0;
  cursor: pointer;
  text-align: left;
  transition: color 0.2s ease;
}

.sign-out-btn:hover {
  color: #ffdede;
}
