.popup-overlay.open {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.settings-drawer {
  position: fixed;
  top: 0;
  right: -300px;
  height: 100%;
  width: 300px;
  background-color: rgb(173, 134, 212);
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.3);
  padding: 1.5rem;
  transition: right 0.3s ease-in-out;
  z-index: 1000;
}

.settings-drawer.open {
  right: 0;
}

.close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.settings-header {
  margin-top: 10px;
  margin-bottom: 10px;
}

.settings-section {
  margin-top: 1.5rem;
}

.language-select {
  width: 75%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}
