.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

.login-input-group {
  margin-bottom: 20px;
}

.login-input {
  padding: 8px;
  width: 200px;
  margin-top: 5px;
}

.login-btns {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1rem;
}

.login-btn {
  padding: 10px 20px;
  background-color: rgb(29, 133, 64);
  color: white;
  border: none;
  cursor: pointer;
}

.login-btn:hover {
  background-color: rgb(20, 101, 47);
}

.signup-btn {
  padding: 10px 20px;
  background-color: rgb(44, 70, 186);
  color: white;
  border: none;
  cursor: pointer;
}

.signup-btn:hover {
  background-color: rgb(27, 48, 140);
}

.error {
  font-size: large;
  font-weight: bold;
  color: rgb(200, 23, 23);
  margin-top: 10px;
}
